StorytellingAdventures/StorytellingConsoleAdventures/bin/
StorytellingAdventures/StorytellingConsoleAdventures/obj/
StorytellingAdventures/.vs/StorytellingAdventures/v16/.suo
StorytellingAdventures/.vs/StorytellingAdventures/DesignTimeBuild/.dtbcache.v2
